.left-contents {
  background: #f4f3f0; /* barely off-white */
  border-right: 1px solid #e5e4e0; /* slightly darker off-white */
  color: #000;
  font-size: 12px;
  height: 100%;
  overflow: hidden; /* to do: format scroll bar to be less ugly */
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  z-index: 100;
}
/*
.title-nogizaka {
  background: #812990;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0 7px 10px;
}

.nogi-list {
  list-style: none;
  height: 100%;
}

.nogi-list li:nth-child(odd) {
  background: #eae9e8;
}

.nogi-list li a {
  display: block;
  padding: 7px 0 7px 15px;
  text-decoration: none;
}

.nogi-list li a:hover {
  background: #bc8dc4;
}
*/

.group48.akb48 {
  background: #FF47A3;
}

.group48 {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0 7px 7px;
}

.team48.teama {
  background: #FD8EB3;
}

.team48.teamk {
  background: #64B000;
}

.team48.teamb {
  background: #26A6E0;
}

.team48.team4 {
  background: #FCC300;
}

.team48{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 0 7px 14px;
  width: 100px;
  display: none;
}

.list48 {
  list-style: none;
  height: 100%;
  width: 100px;
  display: none;
}

.list48 li:nth-child(odd) {
  background: #eae9e8;
}

.list48 li a {
  display: block;
  padding: 7px 0 7px 21px;
  text-decoration: none;
}

.list48.teama li a:hover {
  background: #f596b4;
}

.list48.teamk li a:hover {
  background: #83C033;
}

.list48.teamb li a:hover {
  background: #51B8E6;
}

.list48.team4 li a:hover {
  background: #FDCF33;
}
